@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background: #fff;
  font-family: -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  /*line-height: 1.7;*/
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.thumbs {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}
*/

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.pic {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  width: 168px;
  height: 264px;
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
}
.pic img {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  width: 160px;
  height: auto;
}
.pic-cap {
  padding: 4px;
}

.thumb {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin: 0;
  padding: 0;
}

.black {
  margin: 0;
  padding: 0;
  max-height: 160px;
  display: inline-block;
}

.thumb .caption-top {
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ccc;
  padding: 3px;
  max-width: 150px;
  max-height: 150px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 5px;
  margin-top: 40px;
}

.thumb .caption-bottom {
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 128px;
  padding: 3px;
  color: #aaa;
  background-color: rgba(0, 0, 0, 0.33);
  text-align: center;
  margin: 5px;
  margin-left: 16px;
  margin-right: 16px;
}

.big {
  background-color: #404044;
  width: 100vw;
  height: 101vh;
  z-index: 101;
}

.over {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.flex-item {
  display: inline-block;
  vertical-align: top;
}

.caps {
  width: calc(100vw - 13vh);
}

.svg-buttons {
  width: 6vh;
  height: 6vh;
}

.targets {
  display: inline-block;
  vertical-align: top;
  width: 6vh;
  height: 6vh;
}

.below {
  background-color: #333;
  height: 6vh;
  margin: 0;
  padding: 0;
}
.topcap, .botcap {
  padding-left: 0.8rem;
}
.topcap {
  padding-top: 0.2rem;
  font-size: 1.7rem;
  color: #bbb;
}
.botcap {
  padding-top: 0.1rem;
  font-size: 1.3rem;
  color: #999;
}

@media all and (max-aspect-ratio: 5/4) {
  img.full {
    width: 100vw;
    height: calc(86vh - 12vh);
    object-fit: contain;
  }
  .caps {
    height: 12vh;
  }
  .below {
    height: 12vh;
  }
  .topcap, .botcap {
    width: calc(86vh - 13vh);
    overflow: hidden;
  }
  .break-visibility {
    display: block;
  }
}

@media all and (min-aspect-ratio: 5/4) {
  img.full {
    width: 100vw;
    height: calc(92vh - 6vh);
    object-fit: contain;
  }
  .topcap, .botcap {
    width: calc(100vw - 25vh);
    display: inline;
  }
  .caps {
    width: calc(100vw - 25vh);
  }
  .below {
    height: 6vh;
  }
  .break-visibility {
    display: none;
  }
}

/* pure CSS hover solution */

.thumb img {
  display: inline;
}
.thumb .black {
  display: none;
}

.thumb:hover img {
  display: none;
}
.thumb:hover .black {
  display: inline-block;
}

/* toolbar */

.toolbar {
  width: 100%;
  border-bottom: 1px black solid;
  height: 4rem;
  background: white;
}
.edit-contents {
  padding-top: 4rem;
}

.toolbar {
  z-index: 100;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
}

.toolbar-left,
.toolbar-right,
.toolbar-center {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center {
  text-align: center;
  display: inline-block;
  min-width: 9rem;
  margin: 0;
  padding: 0;
}

.message {
  cursor: default;
  font-size: 75%;
  padding: 0;
  margin: 0;
}

.button {
  font-family: -apple-system, "Helvetica Neue", Arial;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  border: 2px solid #008;
  color: #008;
  border-radius: 4px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  cursor: default;
}

.button:hover {
  border: 2px solid #ddf;
  background-color: #008;
  color: #fff;
  cursor: default;
}

.small-guy {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.button-tight {
  padding: 0;
  display: inline-block;
  border: 2px solid #008;
  color: #008;
  border-radius: 4px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  cursor: default;
}

.button-tight:hover {
  border: 2px solid #ddf;
  background-color: #008;
  color: #fff;
  cursor: default;
}

#album-cover {
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  background-color: orange;
}

#pie {
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

#publish-container {
  background-color: white;
}
